html {
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

canvas {
    padding: 0;
    margin: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #ffffff;
    background-color: #050505;
}